body {
  font-family: Arial, sans-serif;
  background-color: rgb(105, 233, 31);

}

.container {
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 10px;
  margin: 10px;
}

.weather-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.weather-card h2 {
  margin-bottom: 10px;
}

.weather-card p {
  font-size: 1.2em;
}
